<%= render 'layouts/error_messages', user: @user %>

<h2>User Info</h2>
<%= form_with model:@user,local:true do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder:"name"%>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_field :introduction, placeholder:"introduction"%>
  </div>

  <%= f.submit "Update User" %>
<% end %>

